/*.brush {
	width: 500px;
	height: 500px;
	border-style: solid;
	background-color: none;
}*/
div {
	width: 500px;
	height: 500px;
	border-style: solid;
	background-color: none;
}

.new-color {
	background-color: mistyrose;
	width: 500px;
	height: 500px;
	border-style: solid;
}

.new-containers {
	width: 20px;
	height: 20px;
}

